<div class="stars-form">
	<form [formGroup]="starsForms" (ngSubmit)="addStar()">
		<mat-form-field>
			<input matInput formControlName="starName" placeholder="Name">
		</mat-form-field>

		<mat-form-field>
			<input matInput formControlName="starDistance" placeholder="Distance">
		</mat-form-field>

		<mat-form-field>
			<input matInput formControlName="starX" placeholder="Cord X">
		</mat-form-field>

		<mat-form-field>
			<input matInput formControlName="starY" placeholder="Cord Y">
		</mat-form-field>

		<mat-form-field>
			<input matInput formControlName="starZ" placeholder="Cord Z">
		</mat-form-field>

	</form>
	<button mat-raised-button color="primary" (click)="addStar()">add</button>
</div>
