$white: white;
$gray: gray;
$black: black;

.gui-dialog-blanket {
	background: rgba(0, 0, 0, .32);
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	pointer-events: none;
	z-index: 1000;
}

.gui-dialog-wrapper {
	display: flex;
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	justify-content: center;
	align-items: center;
	pointer-events: auto;
	z-index: 1000;

	.gui-dialog-content {
		background-color: $white;
		max-width: 400px;
		position: relative;
		border-radius: 4px;
		box-shadow: 0 3px 7px $gray;
		animation: display-dialog 0.1s ease-in;

		.gui-dialog-close {
			position: absolute;
			cursor: pointer;
			right: 8px;
			top: 8px;
			width: 16px;
			height: 16px;
			opacity: 0.4;
		}

		.gui-dialog-close:hover {
			opacity: 0.8;
		}

		.gui-dialog-close:before, .gui-dialog-close:after {
			position: absolute;
			left: 7px;
			content: ' ';
			height: 16px;
			width: 2px;
			background-color: $black;
		}

		.gui-dialog-close:before {
			transform: rotate(45deg);
		}

		.gui-dialog-close:after {
			transform: rotate(-45deg);
		}
	}

	@keyframes display-dialog {
		from {
			transform: scale(0);
		}
		to {
			transform: scale(1);
		}
	}

}
