<article>
	<section>
		<p>Stars Database is a small collection of stars.
			The star attributes refer to the position of the specific star relative to the Sun.
		</p>
		<p>
			Click on one of the element inside the table to change its values or remove it completely.
		</p>
		<p>
			The button below allows you to add a new star.
		</p>
		<button mat-raised-button color="primary"
				(click)="openAddStarForm()">
			Add new Star
		</button>
	</section>
	<stars-database-grid></stars-database-grid>
</article>
