article {
	margin: 12px 48px;

	section {
		padding: 20px 0;
		margin-bottom: 12px;
		font-family: Roboto, "Helvetica Neue", sans-serif;

		p {
			margin: 10px 0;
		}
	}

	.mat-raised-button {
		background: #0d47a1;
	}

}
